{% extends 'myApp/base.html' %}

{% block title %}
    Q-Mart Products
{% endblock %}
{% block styling %}
  #desc{
    line-height: 28px;
    height: 25px;
    overflow: hidden;
  }
  .description-btn{
    display: inline-block;
    color: black;
    background-color: cyan;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 0.1px;
  }
  .description-btn:hover{
    box-shadow: 0 5px 5px white;
  }
  .box.showContent #desc{
    height: auto;
  }
  .box.showContent a.description-btn{
    background-color: gray;
    color: white;
  }
{% endblock styling %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
      <!-- Filter -->
      <div class="col-lg-3 mx-auto">
        <h1 class="text-center">Categories</h1>
        <!-- Hover added -->
        <div class="list-group">
           <a href="{% url 'list' %}" class="list-group-item list-group-item-action">All Products</a>
           {% for ctgry in categories %}
           <a href="?category={{ctgry.id}}" class="list-group-item list-group-item-action">{{ctgry.name}}</a>
           {% endfor %}
        </div>
      </div>
      <!-- All products display -->
      <div id="allproducts" class="col-lg-9 mx-auto">
        <h1 class="text-center">Display of all the products</h1>
        <div class="row  mx-auto">
          {% for prod in products %}
            <div class="col-sm-4">
                <div class="card mb-3 bg-transparent border-success">
                  <div class="card-header">
                    <span class="d-flex justify-content-start"><b>&#8377; {{prod.price}} /-</b></span>
                  </div>
                  <img src="{{prod.image.url}}" alt="{{prod.name}}" class="rounded mx-auto d-block" height="300px" title="{{prod.name}}">
                    <div>
                        <h5 class="card-title text-center">
                            <a href="product/{{prod.id}}" class="link-dark">{{ prod.name | truncatewords:5 }}</a>
                        </h5>
                    </div>
                    
                      <div class="card-body">
                        <div class="box">
                          <p class="card-text" id="desc">{{prod.description}}</p>
                          <a href="javascript:void();" class="description-btn">Description</a>
                          <a href="{% url 'updateProd' prod.id %}" class="btn btn-outline-info btn-sm">Update</a>
                        </div>
                        <div>
                          
                        </div>
                      </div>
                    <div class="card-footer text-muted d-flex justify-content-end">
                      {{prod.availability}}
                    </div>
                </div>
            </div>
          {% endfor %}
            
        </div>
      </div>
    </div>
</div>

{% endblock %}